# Virtual environment
.venv/
venv/
env/

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook
.ipynb_checkpoints/

# Streamlit
.streamlit/secrets.toml

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Temporary files
*.tmp
*.log

# Python distribution
build/
dist/
*.egg-info/

# Test/cache
.pytest_cache/
.coverage
htmlcov/

# Generated reports
*.html
